@use 'vendor/gridlay.min';

$odin-font: 'Nurse';
$odin-color: #cc9543;
$primary-color: #4a4a4ab3;
$btn-primary: #6abfc3;
$btn-secondary: #cc9543;
$h-color: #4a4a4a;

@font-face {
  font-family: 'Nurse';
  src: url('/public/fonts/Norsebold.otf');
}

@font-face {
  font-family: 'Genericons';
  src: url('/public/fonts/Genericons.woff');
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $primary-color;
}

a {
  color: inherit;
  text-decoration: none;
}

%reset-btn {
  border: 0;
  background: none;
}

%heading-color {
  color: $h-color;
}

%btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);

  @media (min-width: 768px) {
    padding: 1rem 3.5rem;
  }
}

.btn-primary {
  @extend %btn;
  background-color: $btn-primary;
}

.btn-secondary {
  @extend %btn;
  background-color: $btn-secondary;
}

.odin-text {
  padding-left: 12px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: $odin-font;
  letter-spacing: 0.4px;
  color: $odin-color;
}

// main header
.main-header {
  padding: 5px 20px;
  margin-bottom: 30px;

  .logo {
    height: 60px;
  }

  @media (min-width: 768px) {
    padding-top: 12px;
    margin-bottom: 50px;
  }

  @media (min-width: 1037px) {
    .logo {
      height: 70px;
    }

    .odin-text {
      padding-left: 1rem;
      font-size: 2rem;
    }
  }

  @media (min-width: 1200px) {
    padding-left: 168px;
    padding-right: 168px;
  }
}

.main-nav {
  padding-left: 1rem;

  ul:first-of-type::after {
    content: '';
    margin: 0 0.5rem;
    width: 2px;
    height: 100%;
    background: $primary-color;
  }

  li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  a {
    font-size: 1rem;
    font-weight: 700;
  }
}

.drop-list-icon::after {
  content: '';
  margin-left: 0.5rem;
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: $primary-color;
}

.menu-btn {
  @extend %reset-btn;
  height: 60px;
  width: 30px;
  background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2032%2032%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20stroke%3D%27%236abfc3%27%20stroke-width%3D%272%27%20stroke-linecap%3D%27round%27%20stroke-miterlimit%3D%2710%27%20d%3D%27M4%208h24M4%2016h24M4%2024h24%27%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  background-position: center;
}

// main
.gradient {
  background-image: linear-gradient(to bottom, #fff, #eee);
}

main {
  text-align: center;

  h1 {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: $odin-color;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.88;
    letter-spacing: 0.2px;
  }

  .wrapper header {
    padding-bottom: 60px;
  }

  .wrapper header p {
    padding-bottom: 70px;
  }

  @media (min-width: 576px) {
    h1 {
      padding: 0 5.5rem;
    }
  }
}

.about-section {
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;

  header {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 65px;
  }

  h2 {
    padding-bottom: 50px;
    @extend %heading-color;
  }

  h3 {
    margin: 50px 0 20px;
    font-size: 1.125rem;
    @extend %heading-color;
  }

  .about-articles {
    grid-template-columns: repeat(3, 1fr);
  }

  article {
    margin-bottom: 30px;
    padding: 0 42px;
  }

  img {
    height: 80px;
  }

  @media (min-width: 480px) {
    article {
      padding: 0 84px;
    }

    img {
      height: 120px;
    }
  }

  @media (min-width: 768px) {
    padding-top: 90px;

    header {
      padding-bottom: 120px;
    }

    article {
      padding: 0 1rem;

      img {
        height: 165px;
      }
    }
  }
}

.curriculum-section {
  background: #f3f3f3;
  padding-bottom: 60px;

  .curriculum-grid {
    margin: 0 auto;
    max-width: 1260px;
  }

  article {
    margin-bottom: 14px;
    width: 270px;
    height: 150px;
    background: #fff;
    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
  }

  h2 {
    padding: 60px 0 60px 0;
    @extend %heading-color;
  }

  h3 {
    padding-top: 10px;
    font-size: 1.125rem;
    @extend %heading-color;
  }

  img {
    width: 80px;
  }

  .btn-secondary {
    margin-top: 40px;
  }

  @media (min-width: 575px) {
    article {
      width: 254px;
      height: 256px;
      margin: 0 30px 30px 0;
    }

    article:nth-child(2n) {
      margin-right: 0;
    }

    img {
      width: 160px;
    }
  }

  @media (min-width: 992px) {
    .curriculum-grid {
      padding: 0 80px;
    }

    article:nth-child(2n) {
      margin-right: 30px;
    }

    article:nth-child(3n) {
      margin-right: 0;
    }

    article:last-child {
      margin-right: 0;
    }
  }
}

.stories-section {
  padding-top: 60px;
  padding-bottom: 80px;

  h2 {
    padding-bottom: 50px;
    @extend %heading-color;
  }

  h3 {
    padding-bottom: 1.5rem;
    font-weight: 400;
    color: $odin-color;
  }

  article {
    max-width: 600px;
    padding: 0 26px 2rem 26px;
  }

  .story {
    text-align: start;
  }

  figure {
    padding-top: 1rem;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
  }

  img {
    width: 50px;
    max-width: 50px;
    border-radius: 50%;
  }

  .read-more {
    font-size: 1rem;
    text-decoration: underline;
    color: #4a4a4ab3;
  }

  .exclamation {
    margin: 60px 0 40px;
    padding: 0 1.5rem;
    font-weight: 300;
    font-size: 1.75rem;
  }

  @media (min-width: 576px) {
    article {
      padding: 0 0 2rem 0;
    }

    h2 {
      padding-bottom: 100px;
    }

    h3 {
      padding: 0;
    }
  }

  @media (min-width: 480px) {
    .exclamation {
      font-size: 2.25rem;
    }
  }

  @media (min-width: 1200px) {
    article {
      max-width: initial;
      min-width: 580px;
      padding-bottom: 4rem;
    }
  }
}

%icon {
  font-size: 24px;
  font-family: Genericons;
  font-style: normal;
  color: $odin-color;
}

.i-github {
  @extend %icon;
}

.i-github::before {
  content: '\f200';
}

.i-discord {
  @extend %icon;
}

.i-facebook {
  @extend %icon;
}

.i-facebook::before {
  content: '\f203';
}

.i-twitter {
  @extend %icon;
}

.i-twitter::before {
  content: '\f202';
}

.main-footer {
  .logo {
    height: 60px;
  }

  .social-links {
    padding: 1rem 0;
    margin: 0 auto;
    min-width: 300px;
    max-width: 400px;
  }

  .footer-links ul {
    padding: 0;
  }

  .footer-links li {
    list-style: none;
  }

  .footer-links a {
    font-weight: 700;
    line-height: 1.8;
  }

  @media (min-width: 576px) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5rem 0rem;

    .logo {
      height: 70px;
    }
  }

  @media (min-width: 992px) {
    padding: 5rem 3rem;

    .footer-links {
      padding-left: 3rem;
      justify-content: space-evenly;
    }
  }
}
